<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>

    <ion-title id="film-title" class="ion-text-center" (click)="content.scrollToTop(250)">{{ film.title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleFavoriteFilm()">
        <ion-icon slot="icon-only" name="star" [color]="isFavoriteFilm ? 'yellow' : ''"></ion-icon>
      </ion-button>
      <ion-button (click)="shareFilm()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="film.title">
  <div id="film-background" [ngStyle]="{'background-image': 'url(' + (film.posterImages.large | filmImg) + ')'}"
       (click)="openBigPosterModal()">
    <img id="flag" src="assets/img/flags/{{ film.country }}.svg" alt="{{ film.country }}">
    <ion-badge id="rating">{{ film.rating | number:'1.1-2':'es' }}</ion-badge>
    <ion-buttons id="num-ratings" *ngIf="film.numRatings !== 0">
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-badge slot="end">{{ film.numRatings | number }}</ion-badge>
    </ion-buttons>
  </div>

  <div id="main">
    <h1>{{ film.title }}</h1>
    <h2 *ngIf="film.title !== film.originalTitle">{{ film.originalTitle }}</h2>

    <div id="year">
      <span>{{ film.year }}</span> <span *ngIf="film.duration">{{ film.duration / 60 }} min.</span>
    </div>

    <div id="synopsis">
      <p>{{ film.synopsis }}</p>
    </div>

    <div id="genre">
      <ion-chip outline color="secondary" *ngFor="let genre of film.genres">{{ genre }}</ion-chip>
      <ion-chip outline color="secondary" *ngFor="let topic of film.topics">{{ topic }}</ion-chip>
    </div>

    <div id="people">
      <div *ngIf="film.directors.length && film.directors[0] !== ''" class="people-element">
        <span class="title">Dirección</span>
        <span class="content">{{ film.directors.join(", ") }}</span>
      </div>

      <div *ngIf="film.screenplayers.length && film.screenplayers[0] !== ''" class="people-element">
        <span class="title">Guión</span>
        <span class="content">{{ film.screenplayers.join(", ") }}</span>
      </div>

      <div *ngIf="film.actors.length && film.actors[0] !== ''" class="people-element">
        <span class="title">Reparto</span>
        <span class="content">{{ film.actors.join(", ") }}</span>
      </div>

      <div *ngIf="film.musicians.length && film.musicians[0] !== ''" class="people-element">
        <span class="title">Música</span>
        <span class="content">{{ film.musicians.join(", ") }}</span>
      </div>

      <div *ngIf="film.cinematographers.length && film.cinematographers[0] !== ''" class="people-element">
        <span class="title">Fotografía</span>
        <span class="content">{{ film.cinematographers.join(", ") }}</span>
      </div>
    </div>

    <ion-slides class="frames" *ngIf="film.numFrames > 1; else noFramesSlider" [options]="sliderFramesOpts">
      <ion-slide *ngFor="let frame of film.frames">
        <img src="{{ frame.large | filmImg }}">
      </ion-slide>
    </ion-slides>
    <ng-template #noFramesSlider>
      <div class="frames" *ngIf="film.numFrames == 1">
        <img src="{{ film.frames[0].large | filmImg }}">
      </div>
    </ng-template>
  </div>

  <div id="reviews">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="showReviewsType">
      <ion-segment-button value="pro" *ngIf="film.proReviews.length">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Críticas <br> profesionales</ion-label>
      </ion-segment-button>
      <ion-segment-button value="users" *ngIf="film.userReviews.length">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Críticas <br> de usuarios</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div id="pro" *ngIf="showReviewsType === 'pro'">
      <div class="review {{ proReview.trend }}" *ngFor="let proReview of film.proReviews">
        <p>{{ proReview.review }}</p>
        <span>{{ proReview.author }}</span>
      </div>
    </div>

    <div id="users" *ngIf="showReviewsType === 'users'">
      <div class="review" *ngFor="let userReview of film.userReviews">
        <div class="header">
          <h4 class="title">{{ userReview.title }}</h4>
          <ion-badge class="rating">{{ userReview.rating }}</ion-badge>
        </div>
        <div class="subheader">
          <span class="date">{{ userReview.datePublished * 1000 | date: 'longDate' }}</span>
          <span class="username">{{ userReview.username }}</span>
        </div>
        <div class="review-text">
          <p [innerHTML]="userReview.review | removeSpaces | linkify"></p>

          <div class="spoiler" id="{{ userReview.idUser }}" *ngIf="userReview.spoiler">
            <div class="warning">
              <ion-slides [options]="sliderSpoilerOpts" (ionSlideDidChange)="onSlideDidChange($event, userReview.idUser)">
                <ion-slide>
                  <ion-icon name="lock-open-outline"></ion-icon>
                </ion-slide>
                <ion-slide>
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  <strong>¡SPOILER!</strong> Desliza para verlo
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-slide>
              </ion-slides>
            </div>

            <p *ngIf="showSpoilers[userReview.idUser] === true" [innerHTML]="userReview.spoiler | removeSpaces | linkify"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
