<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title id="film-title" class="ion-text-center">{{ film.title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleFavoriteFilm()">
        <ion-icon slot="icon-only" name="star" [color]="isFavoriteFilm ? 'yellow' : ''"></ion-icon>
      </ion-button>
      <ion-button (click)="shareFilm()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="film.title">
  <div id="film-background" [ngStyle]="{'background-image': 'url(' + (film.posterImages.large | filmImg) + ')'}"
       (click)="openBigPosterModal()">
    <img id="flag" src="assets/img/flags/{{ film.country }}.svg" alt="{{ film.country }}">
    <ion-badge id="rating">{{ film.rating | number:'1.1-2':'es' }}</ion-badge>
    <ion-buttons id="num-ratings" *ngIf="film.numRatings !== 0">
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-badge slot="end">{{ film.numRatings | number }}</ion-badge>
    </ion-buttons>
  </div>

  <div id="main">
    <h1>{{ film.title }}</h1>
    <h2 *ngIf="film.title !== film.originalTitle">{{ film.originalTitle }}</h2>

    <div id="year">
      <span>{{ film.year }}</span> <span>{{ film.duration / 60 }} min.</span>
    </div>
      <ion-row>
<!--        <ion-col size="6">-->
<!--          <img id="poster" src="{{ film.posterImages.medium | filmImg}}" (click)="openBigPosterModal()">-->
<!--        </ion-col>-->
      </ion-row>

    <div id="synopsis">
      <p>{{ film.synopsis }}</p>
    </div>

    <div id="genre">
      <ion-badge *ngFor="let topic of film.topics">{{ topic }}</ion-badge>
    </div>

    <div id="people">
      <div class="people-element">
        <span class="title">Dirección</span>
        <span class="content">{{ film.directors.join(", ") }}</span>
      </div>

      <div class="people-element">
        <span class="title">Guión</span>
        <span class="content">{{ film.screenplayers.join(", ") }}</span>
      </div>

      <div class="people-element">
        <span class="title">Reparto</span>
        <span class="content">{{ film.actors.join(", ") }}</span>
      </div>

      <div class="people-element">
        <span class="title">Música</span>
        <span class="content">{{ film.musicians.join(", ") }}</span>
      </div>

      <div class="people-element">
        <span class="title">Fotografía</span>
        <span class="content">{{ film.cinematographers.join(", ") }}</span>
      </div>
    </div>
  </div>
</ion-content>
