.scroll-content {
  background: #EDEDED;
}

#film-title {
  font-size: 100%;
}

#film-title.ios {
  margin-left: 10px;
}

#film-background {
  position: relative;
  display: flex;
  padding-top: var(--ion-safe-area-top);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(180px + var(--ion-safe-area-top));

  border-bottom: 1px solid var(--ion-color-medium);
  background-position: left 0 top 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation: animatedBackground 20s linear infinite alternate;

  @keyframes animatedBackground {
    from {
      background-position: left 0 top 0;
    }
    to {
      background-position: left 0 bottom 0;
    }
  }

  #flag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    margin: 5px;
  }

  #rating {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5px 27px 0;
    padding: 3px 5px 3px 5px;
    font-size: 180%;
    color: var(--ion-color-yellow-tint);
    background-color: var(--ion-color-primary);
  }

  #num-ratings {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 0 2px 0;
    padding: 3px 5px 3px 5px;
    font-weight: normal;

    ion-icon {
      font-size: 70%;
      color: rgba(var(--ion-color-primary-rgb), 0.70);
    }

    ion-badge {
      font-size: 70%;
      font-weight: normal;
      background-color: rgba(var(--ion-color-primary-rgb), 0.80);
    }
  }
}

#main {
  margin: 8px 0 0 0;
  padding: 0 10px 0 10px;

  h1 {
    margin: 0;
    color: var(--ion-color-dark);
    font-size: 150%;
    font-weight: bold;
  }

  h2 {
    margin: 3px 0 0 0;
    color: var(--ion-color-medium);
    font-size: 100%;
    font-weight: normal;
  }

  #year {
    margin: 8px 0 0 0;
    color: var(--ion-color-medium);
    font-size: 80%;

    span {
      margin-right: 10px;
    }
  }

  //#poster {
  //  box-shadow: 1px 1px 5px #888;
  //}
}

#synopsis {
  margin-top: 0;

  p {
    font-size: 90%;
    line-height: 1.4em;
    text-align: justify;
  }
}

#genre {
  text-align: center;
  padding: 0 5px 5px 5px;

  ion-chip {
    font-size: 75%;
    font-weight: bold;
  }
}

#people {
  margin: 5px 0 0 0;
  padding: 0;

  .people-element {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 100%;

    .title {
      float: left;
      width: 100%;
    }

    .content {
      color: var(--ion-color-medium);
      font-size: 90%;
    }
  }
}

#reviews {
  margin: 0 0 10px 0;

  ion-segment {
    font-size: 90%;
  }

  #pro {
    float: left;
    margin: 10px;

    .positive {
      background-color: #4cb04f0d;
      background-image: url('/assets/img/thumbs_up.png');
    }

    .neutral {
      background-color: #ffbf000f;
    }

    .negative {
      background-color: #f4433612;
      background-image: url('/assets/img/thumbs_down.png');
    }

    .review {
      float: left;
      margin: 0 0 5px 0;
      padding: 0 10px 5px 10px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: bottom left;


      p {
        float: left;
        font-size: 90%;
      }

      span {
        float: right;
        font-size: 70%;
        font-weight: 500;
      }
    }
  }
}
