// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-sort"] {
    mask-image: url(assets/svg/sort.svg);
  }
}

ion-menu ion-content {
  --padding-top: 0 !important;
}

.sc-ion-searchbar-md-h {
  --box-shadow: 0 !important;
}

ion-searchbar {
  & input {
    background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary-contrast) !important;
  }
}

ion-searchbar {
  & button {
    color: var(--ion-color-primary-contrast) !important;
  }
}
