<ion-header class="">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!searchBarVisible">Películas</ion-title>
    <ion-searchbar
      *ngIf="searchBarVisible"
      (ionInput)="searchFilm($event)"
      (ionCancel)="cancelSearch()"
      (ionClear)="clearSearch()"
      showCancelButton="always"
      debounce="100"
      placeholder="Buscar por título"
    >
    </ion-searchbar>

    <ion-buttons slot="end" *ngIf="!searchBarVisible">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="!searchBarVisible" slot="fixed" (ionRefresh)="refreshContent($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <h1 *ngIf="searchResults !== null && !searchResults">No se han encontrado coincidencias</h1>

  <film-list-element *ngFor="let film of films" [film]="film"></film-list-element>

  <ion-infinite-scroll *ngIf="infiniteScrollEnabled" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
