page-film-detail {
  .scroll-content {
    background: #EDEDED;
  }

  #main {
    #poster {
      box-shadow: 1px 1px 5px #888;
    }
    #rating {
      font-size: 150%;
      float: right;
    }

    #country {
      #countryName {
        float: right;
        font-size: 14px;
      }
      #flag {
        float: right;
        max-width: 15%;
        margin-left: 10px;
      }
    }
  }

  #synopsis {
    margin-top: -10px;
    padding: 10px 12px 10px 12px;
    p {
      line-height: 1.4em;
      text-align: justify;
    }
  }

  #genre {
    text-align: center;
    padding: 0 5px 5px 5px;
    ion-badge {
      margin: 4px;
    }
  }

  #people {
    ion-grid {
      ion-icon {
        margin-right: 5px;
      }
      .names {
        float: right;
        text-align: right;
        line-height: 1.4em;
      }
    }
  }
}


@media(max-width: 375px) {
  page-about {
    ion-item {
      .item-title {
        font-size: 14px;
      }
    }

    ion-badge {
      font-size: 11px;
    }

    #main {
      #rating {
        font-size: 125%;
      }

      #country {
        #countryName {
          font-size: 12px;
        }
      }
    }
  }
}

@media(max-width: 320px) {
  page-about {
    ion-item {
      .item-title {
        font-size: 10px;
      }
    }

    ion-badge {
      font-size: 9px;
    }

    #main {
      #rating {
        font-size: 120%;
      }

      #country {
        #countryName {
          font-size: 10px;
        }
      }
    }

    #synopsis {
      p {
        font-size: 13px;
      }
    }

    #people {
      font-size: 13px;
    }
  }
}
