films-in-theatres {
  #popular-films-container {
    margin: 0;
  }

  .film-left, .film-right {
    width: 50%;
    padding: 0.5em;
  }

  .film-left {
    float: left;
  }

  .film-right {
    float: right;
  }

  .film-info {
    text-align: center;
  }

  .poster {
    width: 100%;
    box-shadow: 1px 1px 5px #888;
  }

  .title {
    font-size: 15px;
  }

  .numbers {
    clear: both;
    margin: 5px 0;

    .rating {
      font-size: 95%;
    }

    .numVotes {
      margin-left: 5px;
      font-size: 85%;
    }

    ion-icon{
      font-size: 95%;
    }
  }
}

@media(min-width: 410px) {
  films-in-theatres{
    .poster {
      height: 20em;
    }
  }
}

@media(max-width: 375px) {
  films-in-theatres{
    .poster {
      height: 17.5em;
    }
  }
}

@media(max-width: 320px) {
  films-in-theatres{
    .poster {
      height: 16em;
    }
  }
}

