<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Películas en cartelera</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSortOptions()">
        <ion-icon src="assets/svg/sort.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="popular-films-container" *ngFor="let film of films; let i = index; let even = even">
    <span *ngIf="even">
      <div class="film-left" (click)="loadFilm(films[i].idFilm)">
        <img class="poster" src="{{ films[i].posterImages.medium | filmImg}}">
        <div class="film-info">
          <!--<span class="title">{{ films[i].title | truncate : 4}}</span>-->
          <div class="numbers">
            <ion-badge class="rating" item-left>{{ films[i].rating | number }}</ion-badge>
            <ion-badge class="numVotes" item-right="">
              {{ films[i].numRatings | number }}
              <ion-icon name="person" item-right small></ion-icon>
            </ion-badge>
          </div>
        </div>
      </div>
      <div class="film-right" (click)="loadFilm(films[i + 1].idFilm)">
        <img class="poster" src="{{ films[i + 1].posterImages.medium | filmImg}}">
        <div class="film-info">
          <!--<span class="title">{{ films[i + 1].title | truncate : 4}}</span>-->
          <div class="numbers">
            <ion-badge class="rating" item-left>{{ films[i + 1].rating | number }}</ion-badge>
            <ion-badge class="numVotes" item-right="">
              {{ films[i + 1].numRatings | number }}
              <ion-icon name="person" item-right small></ion-icon>
            </ion-badge>
          </div>
        </div>
      </div>
    </span>
  </div>
</ion-content>
