<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Películas en cartelera</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSortOptions()">
        <ion-icon slot="icon-only" src="assets/svg/sort.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="popular-films-container" *ngFor="let film of films; let i = index; let even = even">
    <div *ngIf="even">
      <div class="film-left" (click)="loadFilm(films[i].idFilm)">
        <div class="poster-background">
          <img class="poster" src="{{ films[i].posterImages.medium | filmImg}}" alt="{{ films[i].title }}">

          <ion-badge class="rating">{{ films[i].rating | number:'1.1-2':'es' }}</ion-badge>
          <ion-buttons class="num-ratings" *ngIf="films[i].numRatings !== 0">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-badge slot="end">{{ films[i].numRatings | number }}</ion-badge>
          </ion-buttons>
        </div>
      </div>
      <div class="film-right" (click)="loadFilm(films[i + 1].idFilm)">
        <div class="poster-background">
          <img class="poster" src="{{ films[i + 1].posterImages.medium | filmImg}}">

          <ion-badge class="rating">{{ films[i + 1].rating | number:'1.1-2':'es' }}</ion-badge>
          <ion-buttons class="num-ratings" *ngIf="films[i + 1].numRatings !== 0">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-badge slot="end">{{ films[i + 1].numRatings | number }}</ion-badge>
          </ion-buttons>
        </div>
      </div>
    </div>
  </div>
</ion-content>
