#popular-films-container {
  margin: 0;
}

.film-left, .film-right {
  height: 265px;
  width: 50%;
  padding: 0.5em;
}

.film-left {
  float: left;
}

.film-right {
  float: right;
}

.poster-background {
  position: relative;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  .poster {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px var(--ion-color-poster-shade);
    border-radius: 5px;
  }

  .rating {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5px 5px 0;
    padding: 3px 5px 3px 5px;
    font-size: 130%;
    color: var(--ion-color-yellow-tint);
    background-color: rgba(var(--ion-color-primary-rgb), 0.90);
  }

  .num-ratings {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 2px 0;
    padding: 3px 5px 3px 5px;
    font-weight: normal;

    ion-icon {
      font-size: 60%;
      color: rgba(var(--ion-color-primary-rgb), 0.70);
    }

    ion-badge {
      font-size: 60%;
      font-weight: normal;
      background-color: rgba(var(--ion-color-primary-rgb), 0.80);
    }
  }
}

@media(max-width: 410px) {
  .film-left, .film-right {
    height: 300px;
  }
}

@media(max-width: 375px) {
  .film-left, .film-right {
    height: 285px;
  }
}

@media(max-width: 360px) {
  .film-left, .film-right {
    height: 265px;
  }
}

@media(max-width: 325px) {
  .film-left, .film-right {
    height: 240px;
  }
}
